.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px;
  gap: 5px;
  background-color: #000000;
  padding: 5px;
  width: fit-content;
}

h1{
  font-size: 30px
}

p{
  font-size: 12px
}
.grid-container > div {
  background-color: #e3ffdb;
  color: #000;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.item1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.item2 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.item3 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.item4 {
  grid-column: 6 / 8;
  grid-row: 1 / 2;
}
.item5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.item6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.item7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.item8 {
  grid-column: 4 / 6;
  grid-row: 2 / 6;
}
.item9 {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
.item10 {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
.item11 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.item12 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.item13 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.item14 {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}
.item15 {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
}
.item16 {
  grid-column: 1 / 2;
  grid-row: 4 / 8;
}
.item17 {
  grid-column: 2 / 3;
  grid-row: 4 / 8;
}
.item18 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
.item19 {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
}
.item20 {
  grid-column: 7 / 8;
  grid-row: 4 / 5;
}
.item21 {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}
.item22 {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
}
.item23 {
  grid-column: 7 / 8;
  grid-row: 5 / 6;
}
.item24 {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}
.item25 {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}
.item26 {
  grid-column: 5 / 6;
  grid-row: 6 / 7;
}
.item27 {
  grid-column: 6 / 8;
  grid-row: 6 / 8;
}
.item28 {
  grid-column: 3 / 5;
  grid-row: 7 / 8;
}
.item29 {
  grid-column: 5 / 6;
  grid-row: 7 / 8;
}
img {
  display: block;
}
