body {
    background-image: url("newyears.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a:link {
    background-color: cadetblue;
    color: white;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
h {
    padding: 8px;
}
p {
    padding-left: 16px;
    font-size: 20px;
}
